@model Employee_ManagementMVC.Models.Employee

<div class="container mt-5">
    <div class="card shadow-lg p-4">
        <h2 class="text-center text-primary">Employee Details</h2>
        <hr class="mb-4">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="row">
                <div class="col-12">
                    @Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })
                    @Html.HiddenFor(model => model.Id)

                    <div class="mb-3">
                        @Html.LabelFor(model => model.Firstname, new { @class = "form-label fw-bold" })
                        @Html.EditorFor(model => model.Firstname, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter First Name" } })
                        @Html.ValidationMessageFor(model => model.Firstname, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(model => model.Lastname, new { @class = "form-label fw-bold" })
                        @Html.EditorFor(model => model.Lastname, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Last Name" } })
                        @Html.ValidationMessageFor(model => model.Lastname, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(model => model.Gender, new { @class = "form-label fw-bold" })
                        @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control", @placeholder = "Select Gender" } })
                        @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
                    </div>

                    @*<div class="mb-3">
                            @Html.LabelFor(model => model.DOB, new { @class = "form-label fw-bold" })
                            @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", @placeholder = "Select Date of Birth" } })
                            @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                        </div>*@

                    @*<div class="mb-3">
                            @Html.LabelFor(model => model.DOB, new { @class = "form-label fw-bold" })
                            <input type="date"
                                   id="DOB"
                                   name="DOB"
                                   value="@Model.DOB.HasValue ? @Model.DOB.Value.ToString("yyyy-MM-dd") : string.Empty"
                                   class="form-control"
                                   placeholder="Select Date of Birth" />
                            @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                        </div>*@

                    <div class="mb-3">
                        @Html.LabelFor(model => model.DOB, new { @class = "form-label fw-bold" })
                        <input type="date"
                               id="DOB"
                               name="DOB"
                               value="@Model.DOB?.ToString(" yyyy-MM-dd")"
                               class="form-control"
                               placeholder="Select Date of Birth" />
                        @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(model => model.Age, new { @class = "form-label fw-bold" })
                        @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                    </div>

                    <div class="mb-3">
                        @Html.LabelFor(model => model.Address, new { @class = "form-label fw-bold" })
                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter Address" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                    </div>

                    <div class="d-flex justify-content-between mt-4">
                        <input type="submit" value="Save" class="btn btn-success px-4" />
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary px-4" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>
